.wcContainer {
	border: 1px solid; 
	scroll-snap-type: y mandatory;
	max-height: inherit;
	overflow-y: scroll;
	padding: 0; 
}

.wcContainer .wcContainerSection {
	border: 1px solid; 
	width: 100%; 
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-snap-align: start;
}

body::-webkit-scrollbar {
    display: none;
}